body{
    background-color: paleturquoise;
    text-align: center;
}
h1{
    color:orange;
    font-family: 'Xanh Mono', monospace;
    font-weight: bold;
}
.colon{
    width: 50%;
    padding: 2% 4%;
}
.top_section{
    padding: 2% 15%;
}
.midd_section{
    padding: 1% 3%;
}
.padd{
    margin-top: 2%;
    padding: 1% 10%;
}
.padd:hover{
    background-color: peru;
}
.qq{
    filter: hue-rotate(180deg) grayscale(50%);

}